spring:
  application:
    name: logistics-route-optimizer
  datasource:
    url: ${AZURE_SQL_URL:jdbc:sqlserver://localhost:1433;database=optimizer;encrypt=false}
    username: ${AZURE_SQL_USER:sa}
    password: ${AZURE_SQL_PASSWORD:Your_strong!Passw0rd}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  jackson:
    default-property-inclusion: non_null

security:
  jwt:
    issuer: ${JWT_ISSUER:https://login.microsoftonline.com/common/v2.0}
    audience: ${JWT_AUDIENCE:optimizer-api}
    jwk-set-uri: ${JWT_JWK_ENDPOINT:https://login.microsoftonline.com/common/discovery/v2.0/keys}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /swagger-ui.html

